div{
	background: rgba(250, 250, 250, 1);
	height: 7.81rem;
	margin-top: 0.63rem;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 0.94rem;
	color: rgba(16, 16, 16, 1);
}
div h4{
	font-weight: bold;
}