section{
	display: flex;
    flex-direction: column;
    align-items: center;
}
div{
	width: 21.56rem;
	height: 7.5rem;
	box-shadow: 0rem 0rem 0.38rem 0rem rgba(170, 170, 170, 1);
	border-radius: 0.32rem;
	margin-top: 0.94rem;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 0.94rem;
}
