.memberinfo{
	height: 8.63rem;
}
.memberinfo>div>img{
	width: 5.19rem;
	height: 5.19rem;
	border-radius: 50%;
}
.memberinfo p{
	display: flex;
	flex-direction: column;
}
.memberinfo span{
	font-size: 14px;
	color: #fff;
	margin:1rem 0;
}
.todetail{
	background:rgba(250, 250, 250, 1);
}
.todetail>div>img{
	margin-right: 0.69rem;
}
.news{
	margin:0.63rem 0;
}
.news .badge{
	position: absolute;
    right: 2.56rem;
}
.name_auth{
	margin-bottom: 0.63rem;
}
.about,.news,.name_auth{
	border-bottom: 0;
}