.info1,.info2{
	background:rgba(250, 250, 250, 1); 
}
.info1>div,.info2>div{
	height: 3.75rem;
}
.info1{
	margin: 0.63rem 0 1.25rem;
}
.info1>div:first-child img{
	width: 2.88rem;
	height: 2.88rem;
	border-radius: 50%;
	position: absolute;
    right: 2.56rem;
}
.info1>div:last-child,.info2>div:last-child{
	border-bottom: 0;
}
span{
	position: absolute;
    right: 2.56rem;
   color: rgba(161, 161, 161, 1);
}